<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MAGAZEntities" connectionString="metadata=res://*/Modeli.csdl|res://*/Modeli.ssdl|res://*/Modeli.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=MAGAZ;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MAGAZEntities1" connectionString="metadata=res://*/Magaz.csdl|res://*/Magaz.ssdl|res://*/Magaz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=MAGAZ;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MAGAZEntities2" connectionString="metadata=res://*/MagazModel1.csdl|res://*/MagazModel1.ssdl|res://*/MagazModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=MAGAZ;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=14PR;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=14PR;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=260226;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>